<%- include ("../partials/header") %>


    <div class="card container my-4 bg-dark">
      <div class="row justify-content-center pt-2">
      <h1>Edit your profile</h1>
  </div>
      <div class="row justify-content-center">
            <div class="login-form-1">
                <form id="register-form" class="text-left needs-validation" action="/users/<%= user._id %>?_method=PUT" method="POST" novalidate>
                    <div class="login-form-main-message"></div>
                    <div class="main-login-form">
                        <div class="login-group">
                            <div class="form-group">
                                <label for="firstName" class="sr-only">First Name</label>
                                <p><input type="text" class="form-control py-2" id="firstname" name="firstName" value="<%= user.firstName %>" required></p>
                            </div>
                            <div class="form-group">
                                <label for="lastName" class="sr-only">Last Name</label>
                                <p><input type="text" class="form-control py-2" id="lastName" name="lastName" value="<%= user.lastName %>"></p>
                            </div>
                            <div class="form-group">
                                <label for="username" class="sr-only">Username</label>
                                <p><input type="text" class="form-control py-2" id="username" name="username" value="<%= user.username %>" disabled></p>
                            </div>
                            
                            <div class="form-group">
                                <label for="email" class="sr-only">Email</label>
                                <p><input type="email" class="form-control py-2" id="email" name="email" value="<%= user.email %>" required></p>
                            </div>
                            <!-- <div class="custom-file">
                                <input type="file" name="image" accept="image/*" class="custom-file-input" id="image" aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label" for="inputGroupFile01">Avatar</label>
                            </div> -->
                            <div class="form-group">
                                <label for="bio" class="sr-only">Bio</label>
                                <p><input type="text" class="form-control py-2" id="bio" name="bio" value="<%=user.bio %>"></p>
                            </div>
                        </div>
                        <button type="submit" class="login-button"><i class="im im-angle-right"></i></button>
                    </div>
                    <div class="formtext container text-muted py-2 text-center">
                        <p><a href="/forgot">Change your password &rarr;</a></p>
                    </div>
                </form>
            </div>
    </div>
    </div>

  <%- include ("../partials/footer") %>