<%- include ("../partials/header") %>

<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light py-0">
        <div class="container py-0">
            <a class="navbar-brand" href="/"><img src="../../images/NEW LOGO.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navLinks" aria-controls="navLinks" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse navbar-right" id="navLinks">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item">
                <p class="m-0"><button><a class="nav-link py-3" href="/">Home</a></button></p>
              </li>
              <li class="nav-item">
                <p class="m-0"><button><a class="nav-link py-3" href="/blogs">Blog</a></button></p>
              </li>
              <li class="nav-item">
                <p class="m-0"><button><a class="nav-link py-3" href="/about">About</a></button></p>
              </li>
              <li class="nav-item">
                <p class="m-0"><button><a class="nav-link py-3" href="/contact">Contact</a></button></p>
              </li>
              <% if(!currentUser){ %>
              <li class="nav-item">
                  <p class="m-0"><button><a class="nav-link py-3" href="/login">Login</a></button></p>
              </li>
              <li class="nav-item">
                <p class="m-0"><button><a class="nav-link py-3" href="/register">Sign Up</a></button></p>
              </li>
              <% } else { %>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle nav-link py-3" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="im im-user-settings"></i></a>
                  <ul class="dropdown-menu">
                    <li>
                        <p class="pl-3">Hey, <%= currentUser.firstName %></p>
                    </li><hr>                          
                        <li>
                            <p class="pl-3"><a href="/users/<%= currentUser.id %>">My Account</a></p>
                        </li><hr>
                        <li>
                            <p class="pl-3"><a href="/logout">Logout</a></p>
                        </li>
                  </ul>
                </li>
              <% } %>
            </ul>
          </div>
        </div>
    </nav>

    <div class="container pt-3">
        <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
        <% } %>
        <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
        <% } %>
    </div>

<div class="container">
    <header class="jumbotron p-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 bg-transparent">
                        <li class="breadcrumb-item"><a href="/"><p class="m-0">Home</p></a></li>
                        <li class="breadcrumb-item"><p class="m-0">Users</p></li>
                        <li class="breadcrumb-item" aria-current="page"><p class="m-0"><%= user.firstName %></p></li>
                    </ol>
                    <!-- <hr class="mt-0"> -->
                </nav>
    </header>
  </div>


    <div class="jumbotron container">
      <div class="row justify-content-center">
      <h1>Edit your profile</h1>
  </div>
      <div class="row justify-content-center">
            <div class="login-form-1">
                <form id="register-form" class="text-left needs-validation" action="/users/<%= user._id %>?_method=PUT" method="POST" novalidate>
                    <div class="login-form-main-message"></div>
                    <div class="main-login-form">
                        <div class="login-group">
                            <div class="form-group">
                                <label for="firstName" class="sr-only">First Name</label>
                                <p><input type="text" class="form-control py-2" id="firstname" name="firstName" value="<%= user.firstName %>" required></p>
                            </div>
                            <div class="form-group">
                                <label for="lastName" class="sr-only">Last Name</label>
                                <p><input type="text" class="form-control py-2" id="lastName" name="lastName" value="<%= user.lastName %>"></p>
                            </div>
                            <div class="form-group">
                                <label for="username" class="sr-only">Username</label>
                                <p><input type="text" class="form-control py-2" id="username" name="username" value="<%= user.username %>" disabled></p>
                            </div>
                            
                            <div class="form-group">
                                <label for="email" class="sr-only">Email</label>
                                <p><input type="email" class="form-control py-2" id="email" name="email" value="<%= user.email %>" required></p>
                            </div>
                            <!-- <div class="custom-file">
                                <input type="file" name="image" accept="image/*" class="custom-file-input" id="image" aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label" for="inputGroupFile01">Avatar</label>
                            </div> -->
                            <div class="form-group">
                                <label for="bio" class="sr-only">Bio</label>
                                <p><input type="text" class="form-control py-2" id="bio" name="bio" value="<%=user.bio %>"></p>
                            </div>
                        </div>
                        <button type="submit" class="login-button"><i class="im im-angle-right"></i></button>
                    </div>
                    <div class="formtext container text-muted pt-2 text-center">
                        <p><a href="/forgot">Change your password &rarr;</a></p>
                    </div>
                </form>
            </div>
    </div>
    </div>

  <%- include ("../partials/footer") %>