<%- include("../partials/header") %>
<head>
  <style type="text/css">
    .editbox input{
      border-radius: 1.25rem;
    }
    .editbox{
      border: 0px;
    }
  </style>
</head>
  <div class="containers">
        <div class="card bg-dark m-4">
            <div class="row justify-content-center">
                <h1>Edit <%= campground.name %></h1>
            </div>
            <form action="/blogs/<%=campground._id%>?_method=PUT" method="POST" enctype="multipart/form-data" class="post-form container card py-3">
              <div class="login-group">
              <div class="control-group">
                <div class="form-group controls editbox pb-2">
                  <!-- <label>Title</label> -->
                  <p><input type="text" class="form-control" id="name" required name="campground[name]" value="<%= campground.name %>"></p>
                </div>
              </div>
              <div class="control-group form-group files editbox pb-2">
                <div class="form-group controls">
                  <!-- <label>Image</label> -->
                  <p><input type="file" class="form-control" placeholder="Image" id="image" name="image" accept="image/*">Choose or Drag a file here</p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group controls editbox">
                  <!-- <label>Description</label> -->
                  <p><input type="text" class="form-control" id="description" required name="campground[description]" value="<%= campground.description %>"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group controls editbox py-2">
                  <!-- <label>Outside content</label> -->
                  <p><input type="text" class="form-control" placeholder="Outside content" id="outside" required name="campground[outside]"></p>
                </div>
              </div>
            </div>
              <br> 
                <div class="row justify-content-center">
                    <p><button type="submit" class="btn btn-success px-5">Done</button></p>
                </div>
            </form>
        </div>
    </div>
<%- include("../partials/footer") %>