<%- include("../partials/header") %>

<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light py-0">
        <div class="container py-0">
            <a class="navbar-brand" href="/"><img src="../../images/NEW LOGO.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navLinks" aria-controls="navLinks" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse navbar-right" id="navLinks">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item">
                <p class="m-0"><button><a class="nav-link py-3" href="/">Home</a></button></p>
              </li>
              <li class="nav-item active">
                <p class="m-0"><button><a class="nav-link py-3" href="/blogs">Blog</a></button></p>
              </li>
              <li class="nav-item">
                <p class="m-0"><button><a class="nav-link py-3" href="/about">About</a></button></p>
              </li>
              <li class="nav-item">
                <p class="m-0"><button><a class="nav-link py-3" href="/contact">Contact</a></button></p>
              </li>
              <% if(!currentUser){ %>
              <li class="nav-item">
                  <p class="m-0"><button><a class="nav-link py-3" href="/login">Login</a></button></p>
              </li>
              <li class="nav-item">
                <p class="m-0"><button><a class="nav-link py-3" href="/register">Sign Up</a></button></p>
              </li>
              <% } else { %>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle nav-link py-3" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="im im-user-settings"></i></a>
                  <ul class="dropdown-menu">
                    <li>
                        <p class="pl-3">Hey, <%= currentUser.firstName %></p>
                    </li><hr>                          
                        <li>
                            <p class="pl-3"><a href="/users/<%= currentUser.id %>">My Account</a></p>
                        </li><hr>
                        <li>
                            <p class="pl-3"><a href="/logout">Logout</a></p>
                        </li>
                  </ul>
                </li>
              <% } %>
            </ul>
          </div>
        </div>
    </nav>

<div class="container pt-3">
        <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
        <% } %>
        <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
        <% } %>
    </div>

    <div class="container">
      <header class="jumbotron p-0">
         <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 bg-transparent">
                        <li class="breadcrumb-item"><a href="/"><p class="m-0">Home</p></a></li>
                        <li class="breadcrumb-item"><a href="/blogs"><p class="m-0">Blog</p></a></li>
                        <li class="breadcrumb-item" aria-current="page"><p class="m-0">New Post</p></li>
                    </ol>
                    <!-- <hr class="mt-0"> -->
                </nav>
        </div>
    </header>
        <div class="jumbotron jumbotrongreen">
            <div class="row justify-content-center">
                <h1>New Post</h1>
            </div>
            <form class="post-form" name="contact" action="/blogs" method="POST" enctype="multipart/form-data">
              <div class="login-group">
              <div class="control-group">
                <div class="form-group controls">
                  <!-- <label>Title</label> -->
                  <p><input type="text" class="form-control" placeholder="Title" id="name" required name="campground[name]"></p>
                </div>
              </div>
              <div class="control-group form-group files">
                <div class="form-group controls">
                  <!-- <label>Image</label> -->
                  <p><input type="file" class="form-control filee" placeholder="Image" id="image" required name="image" accept="image/*"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group controls">
                  <!-- <label>Description</label> -->
                  <p><input type="text" class="form-control" placeholder="Description" id="description" required name="campground[description]"></p>
                </div>
              </div></div>
              <br> 
                <div class="row justify-content-center">
                    <p><button type="submit" class="btn btn-success px-5">Post</button></p>
                </div>
            </form>
        </div>
    </div>
    
<%- include("../partials/footer") %>